.join {
	color: @alizarin !important;
	font-weight: bold;

	&:hover {
		color: @amethyst !important;
	}
}

.main-hero {
	.ph-hero(@turquoise, @clouds, @wet-asphalt, 'gears');
}

.hero-features(@bg-primary, @text-color) {
	
	cursor: pointer;

	.caption {
		color: @text-color;

		h4 {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	
	.caption-final {
		display: none;
	}

	.thumbnail {
		background: @bg-primary;
		border-color: @bg-primary;
		height: 180px;
		transition: all 0.005s linear;
	}

	&:hover {
		.thumbnail {
			background: @midnight-blue;
			border-color: @midnight-blue;
		}

		.caption {
			color: @text-color;
		}

		.caption-initial {
			display: none;
		}

		.caption-final {
			display: block;
		}
	}

}

.feature-propose {
	.hero-features(@alizarin, @clouds);
}

.feature-vote {
	.hero-features(@wisteria, @clouds);
}

.feature-discuss {
	.hero-features(@orange, @clouds);
}

.feature-showcase {
	.hero-features(@belize-hole, @clouds);
}
// #propose {
// 	.thumbnail {
// 		border: 0px;
// 		background: @carrot;
// 	}
// }

// #hack {
// 	.thumbnail {
// 		border: 0px;
// 		background: @peter-river;
// 	}
// }

// #show {
// 	.thumbnail {
// 		border: 0px;
// 		background: @alizarin;
// 	}
// }

// #discuss {
// 	.thumbnail {
// 		border: 0px;
// 		background: @wet-asphalt;
// 	}
// }

.logged-in-nav {
	text-transform: lowercase !important;

	#username {
		color: @alizarin;
		font-weight: bold;
	}

	li a {
		text-transform: lowercase;
		font-size: 16px;
	}

	#logout {
		font-weight: bold;
		color: @alizarin;
	}

	#logout:hover {
		color: #fff;
	}
}