.join-hero {
	.ph-hero(@alizarin, @clouds, @wet-asphalt, 'community');
}

.fb-register-block {
	padding-top: 60px;
	text-align: center;

	.no-spam {
		padding-top: 10px;
		text-transform: uppercase;
		color: darken(#fff, 40%);
		font-size: 12px;
	}
}

.terms {
	padding-top: 30px;
	padding-bottom: 20px;
	text-transform: uppercase;
	color: @clouds;
	font-size: 13px;
	font-family: "Raleway", sans-serif;
	text-align: center;
}

.join-panel {
	
	.ph-panel(@emerald, @midnight-blue, @clouds, 'join');
}