@import url(http://fonts.googleapis.com/css?family=Arvo:400);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

::selection {
	background-color: @amethyst;
	color: @clouds;
}

@-webkit-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: @nephritis }
}

@-moz-keyframes blink {
    from, to { border-color: transparent }
    50% { border-color: @nephritis }
}

.cursor {
    width:30px;
    border-left: 14px solid @nephritis;
    -webkit-animation: 0.6s blink step-end infinite;
    -moz-animation: 0.6s blink step-end infinite;
}

.navbar-brand {
	font-family: 'Arvo', sans-serif;
	font-size: 30px;
	.slash {
		color: @nephritis;
	}
	.pizza {
		color: @pomegranate;
	}
	.hackers {
		color: @amethyst;
	}
}

.heart {
	color: @alizarin;
}
body {
	margin-top: @body-margin-top;
	background: url(/static/img/hero-bg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.hero-spacer {
	margin-top: @hero-spacer-margin-top;
}

.hero-feature {
	margin-bottom: @hero-feature-margin;
	margin-top: @hero-feature-margin - 10px;
}

footer {
	margin: @footer-margin;
}

.navbar-nav {
	li {
		a {
			font-size: 22px;
		}
	}
}