{% extends 'base.html' %}
{% load static %}

{% block maincontent %}

<div class="row">
	<div class="col-sm-6">
		<div class="panel dashboard-proposals-panel">

		  <div class="panel-heading">
		    <h3 class="panel-title">
		      Newest Proposals 
		      <small class="pull-right panel-buttons">
		      	<a href="#">New</a> | <a href="#">See all</a>
		      </small>
		    </h3>
		  </div>
		  <div class="panel-body">

		  	<div class="panel panel-item-proposal">
		  		<div class="panel-body">
		  			Test
		  		</div>
		  	</div>

		  	<div class="panel panel-item-proposal">
		  		<div class="panel-body">
		  			Test
		  		</div>
		  	</div>

		  </div>

		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel dashboard-discussions-panel">

		  <div class="panel-heading">
		    <h3 class="panel-title">
		      Discussions
		    </h3>
		  </div>
		  <div class="panel-body">

		  	<div class="panel panel-item-discussion">
		  		<div class="panel-body">
		  			Test
		  		</div>
		  	</div>

		  	<div class="panel panel-item-discussion">
		  		<div class="panel-body">
		  			Test
		  		</div>
		  	</div>

		  </div>

		</div>
	</div>
</div>

{% endblock maincontent %}