{% extends 'base.html' %}
{% load static %}

{% block maincontent %}

<div class="row c2a">
	<div class="col-sm-6">
		<a href="/proposals/new" class="btn btn-danger btn-lg btn-block">Propose a talk / hack</a>
	</div>
	<div class="col-sm-6">
		<a href="#" class="btn btn-warning btn-lg btn-block">Start a new discussion</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="panel dashboard-proposals-panel">

		  <div class="panel-heading">
		    <h3 class="panel-title">
		      My Proposals 
		      <small class="pull-right panel-buttons">
		      	<a href="/proposals">See all</a>
		      </small>
		    </h3>
		  </div>
		  <div class="panel-body">

		  	{% for proposal in hacker.proposals.all %}

		  	<a href="/proposals/{{proposal.slug}}">
		  		<div class="panel panel-item-proposal">
		  			<div class="panel-body">
		  				{{proposal.title}}
		  			</div>
		  		</div>
		  	</a>
		  	{% empty %}
		  	<h3 class="nocontent">
		  		No proposals found! :(
		  	</h3>
		  	{% endfor %}

		  </div>

		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel dashboard-discussions-panel">

		  <div class="panel-heading">
		    <h3 class="panel-title">
		      My Discussions
		      <small class="pull-right panel-buttons">
		      	<a href="#">See all</a>
		      </small>
		    </h3>
		  </div>
		  <div class="panel-body">

		  	{% for discussion in hacker.discussions.all %}

		  	<div class="panel panel-item-proposal">
		  		<div class="panel-body">
		  			{{discussion.title}}
		  		</div>
		  	</div>
		  	{% empty %}
		  	<h3 class="nocontent">
		  		No discussions found! :(
		  	</h3>
		  	{% endfor %}

		  </div>

		</div>
	</div>
</div>

{% endblock maincontent %}