{%extends 'base.html'%}
{% load static %}
{%block maincontent%}

<div class="hero-spacer well main-hero">
  <h1>
    What does it take to <strong>change</strong> the world?
    <small>
      Hacks + <span class="heart">&hearts;</span> + Pizza!
    </small>
  </h1>
  <p>
    We are the <strong>doer</strong> community of NIT Jamshedpur. We believe we can change the world, solving one small problem at a time.
  </p>
  <p class="hero-desc">
    Saturdays are talk sessions, Sundays are hackathons. Branch no bar. You're welcome!
  </p>
  <p>
    <a class="btn btn-danger btn-lg" href="/join">Join PizzaHackers</a>
  </p>
</div>
    
<div class="row text-center">

  <div class="col-lg-3 col-md-6 hero-feature feature-propose">
    <div class="thumbnail">
      <div class="caption caption-initial">
        <img src="{% static 'core/img/propose.png' %}" alt="">
        <h4>Propose</h4>
      </div>
      <div class="caption caption-final">
        <h3>
          Propose an idea for a talk, a product, or a simple hack.
        </h3>
        <p><a href="#" class="btn btn-block btn-danger">Propose Now</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature feature-vote">
    <div class="thumbnail">
      <div class="caption caption-initial">
        <img src="{% static 'core/img/vote.png' %}" alt="">
        <h4>Vote</h4>
      </div>
      <div class="caption caption-final">
        <h3>
          Vote for the proposals that interest you.
        </h3>
        <p><a href="#" class="btn btn-block btn-primary">See Proposals</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature feature-discuss">
    <div class="thumbnail">
      <div class="caption caption-initial">
        <img src="{% static 'core/img/discuss.png' %}" alt="">
        <h4>Discuss</h4>
      </div>
      <div class="caption caption-final">
        <h3>
          Discuss interesting stuff with the community.
        </h3>
        <p><a href="#" class="btn btn-block btn-warning">Forum</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature feature-showcase">
    <div class="thumbnail">
      <div class="caption caption-initial">
        <img src="{% static 'core/img/showcase.png' %}" alt="">
        <h4>Showcase</h4>
      </div>
      <div class="caption caption-final">
        <h3>
          Display your creation to the world, and brag!
        </h3>
        <p><a href="#" class="btn btn-block btn-info">Gallery</a></p>
      </div>
    </div>
  </div>

</div><!-- /.row -->
{%endblock maincontent%}
