{%extends 'base.html'%}



{%block maincontent%}
<div class="hero-spacer well base-hero main-hero">
  <h1>
    What does it take to <strong>change</strong> the world?
    <small>
      Code + <span class="heart">&hearts;</span> + Pizza!
    </small>
  </h1>
  <p>
    We are the <strong>doer</strong> community of NIT Jamshedpur. We believe we can change the world, solving one small problem at a time.
  </p>
  <p class="hero-desc">
    Saturdays are talk sessions, Sundays are hackathons. You're welcome!
  </p>
  <p>
    <a class="btn btn-danger btn-lg" href="/join">Join PizzaHackers</a>
  </p>
</div>
    
<div class="row text-center">

  <div class="col-lg-3 col-md-6 hero-feature" id="propose">
    <div class="thumbnail">
      <div class="caption">
        <h3>Propose</h3>
        <p>Propose a talk or hack idea. Ideas with the most votes get selected!</p>
        <p><a href="#" class="btn btn-block btn-primary">Funnel</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature" id="hack">
    <div class="thumbnail">
      <div class="caption">
        <h3>Hack</h3>
        <p>Build your idea during the weekend. We'll arrange for hosting!</p>
        <p><a href="#" class="btn btn-block btn-primary">Github</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature" id="show">
    <div class="thumbnail">
      <div class="caption">
        <h3>Show</h3>
        <p>Brag about your creation by showcasing it on PizzaHackers.</p>
        <p><a href="#" class="btn btn-block btn-primary">Gallery</a></p>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-md-6 hero-feature" id="discuss">
    <div class="thumbnail">
      <div class="caption">
        <h3>Discuss</h3>
        <p>Ask questions, answer some, or just share your gyaan.</p>
        <p><a href="#" class="btn btn-block btn-primary">Forum</a></p>
      </div>
    </div>
  </div>

</div><!-- /.row -->
{%endblock maincontent%}
