<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PizzaHackers &raquo; Doers of NIT Jamshedpur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The official Webpage for PizzaHackers,The Doers Community NIT Jamshedpur">
    <meta name="author" content="@avckp">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">pizzaHackers</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">HowToJoin</a></li>
              <li><a href="#about">BuildHistory</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            <!--<form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit ph_main">
        <img src="/static/img/ph-logo.gif" />
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6 ph_block">
          <h2>Ideas Proposed</h2>
          <img class="ph_logo" src="/static/img/propose.png">
          <p class="ph_block_desc">Anyone who is even remotely associated with NIT Jamshedpur can propose idea on which they want to work on.Idea can be for a product: software,hardware, or, for a talk they want to give on any topic.</p>
          <p><a class="btn" href="#">Propose</a></p>
        </div>
        <div class="span6 ph_block">
          <h2>Ideas Churned</h2>
          <img class="ph_logo" src="/static/img/churn.png">
          <p class="ph_block_desc">All ideas proposed before friday of any given week are pH tested. In pH test,the existing pH community members vote on the ideas.<br/> Churning out milk,leaves butter.</p>
          <p><a class="btn" href="#">Churn</a></p>
       </div>
     </div>
        

      
      <div class="row">
        <div class="span6 ph_block">
          <h2>Products Hacked</h2>
          <img class="ph_logo" src="/static/img/hack.png">
          <p class="ph_block_desc">Ideas that pass the pH test are put up as target on weekends. Talks are held on Saturdays then incessant hacking till product completion begins.<br/>Real fun part. You break,learn,build,iterate. </p>
          <p><a class="btn" href="#">BYOD</a></p>
        </div>
        <div class="span6 ph_block">
          <h2>Products Showcased</h2>
          <img class="ph_logo" src="/static/img/product.png">
          <p class="ph_block_desc"> By now you have made History.Its time for some glory. All successful works are displayed here. </p>
          
        </div>
        </div>
      </div>

      <hr>

      <footer class="row">
        <span class="span6 pull-left">&copy; pizzaHackers,doers community  nitJsr.</span>
        <span class="span6">Made with &hearts; by <a href="http://www.facebook.com/avckp">@avckp</a> and <a href="http://www.facebook.com/sanketsaurav">@sanketsaurav</a></span>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap-transition.js"></script>
    <script src="/static/js/bootstrap-alert.js"></script>
    <script src="/static/js/bootstrap-modal.js"></script>
    <script src="/static/js/bootstrap-tooltip.js"></script>
    <script src="/static/js/bootstrap-dropdown.js"></script>
    <script src="/static/js/bootstrap-collapse.js"></script>
    <script src="/static/js/bootstrap-button.js"></script>
    <script src="/static/js/bootstrap-carousel.js"></script>
    

  </body>
</html>
