{% extends 'base.html' %}
{% load static %}

{% block maincontent %}

<div class="row">
<div class="col-sm-offset-1 col-sm-10">
<div class="panel proposals-edit-panel">

  <div class="panel-heading">
    <h3 class="panel-title">
      {% if proposal %}
      Edit - {{proposal.title}}
      {% else %}
      Add a new Proposal
      {% endif %}
    </h3>
  </div>

  <div class="panel-body">
  	<form action="/proposals" class="form-horizontal" method="POST">
  	  
  	  {% csrf_token %}

  	  {% if error %}
  	  <div class="form-group">
  	    <div class="col-sm-offset-3 col-sm-7">
  	      <div class="alert alert-danger">
  	        <strong>Error!</strong> {{error}}
  	      </div>
  	    </div>
  	  </div>
  	  {% endif %}
      {% if proposal.slug %}
      <input type="hidden" name="slug" value="{{proposal.slug}}">
      {% endif %}
  	  <div class="form-group">
  	    <label for="title" class="col-sm-3 control-label">Title</label>
  	    <div class="col-sm-8">
  	      <input type="text" class="form-control" name="title" placeholder="Title of your proposal" required value="{{proposal.title}}">
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="type" class="col-sm-3 control-label">Type</label>
  	    <div class="col-sm-8">
  	      <select class="form-control" name="type" required>
  	      {% for type in types %}
  	        <option value='{{type.0}}' {%ifequal type.0 proposal.type%}selected{%endifequal%}>
  	          {{type.1}}
  	        </option>
  	      {% endfor %}
  	      </select>
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="description" class="col-sm-3 control-label">Description</label>
  	    <div class="col-sm-8">
  	      <textarea name="description" rows="6" class="form-control" placeholder="Describe you proposal in detail. You can do __bold__, _italics_, and add links.">{{proposal.description}}</textarea>
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="tags" class="col-sm-3 control-label">Tags</label>
  	    <div class="col-sm-8">
  	      <input type="text" class="form-control" name="tags" value="{{proposal.tags}}" placeholder="e.g. Web dev, python, css3">
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="completed" class="col-sm-3 control-label">Status</label>
  	    <div class="col-sm-8">
  	      <input type="checkbox" name="completed" {%if proposal.completed%}checked{%endif%}> Completed / Presented
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="url" class="col-sm-3 control-label">Demo URL</label>
  	    <div class="col-sm-8">
  	      <input type="text" class="form-control" name="url" value="{{proposal.url}}" placeholder="Link to demo / slides in case complete, if any">
  	    </div>
  	  </div>

  	  <div class="form-group">
  	    <label for="repo_url" class="col-sm-3 control-label">Repo URL</label>
  	    <div class="col-sm-8">
  	      <input type="text" class="form-control" name="repo_url" value="{{proposal.repo_url}}" placeholder="Link to repository, if any">
  	    </div>
  	  </div>

  	  <div class="form-group">
  	     <div class="col-sm-offset-3 col-sm-8">
  	       <button type="submit" class="btn btn-danger btn-lg btn-block">Save Proposal</button>
  	     </div>
  	   </div>
  	</form>
  </div>

</div>
</div>
</div>
{% endblock %}