{%extends 'base.html'%}

{% block maincontent %}

<div class="hero-spacer well rules-hero">
  <h1>
    Rules.
    <small>
      Code of Conduct.
    </small>
  </h1>
</div>

<div class="panel rules-general-panel">

  <div class="panel-heading">
    <h3 class="panel-title">
      General Rules
    </h3>
  </div>
  <div class="panel-body">
  	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nam soluta iste eligendi omnis nisi saepe molestias id. Ut quibusdam quis optio voluptas officiis nesciunt officia molestias eaque sunt maiores.
  	</p>
  	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nam soluta iste eligendi omnis nisi saepe molestias id. Ut quibusdam quis optio voluptas officiis nesciunt officia molestias eaque sunt maiores.
  	</p>
  </div>

</div>

<div class="panel rules-membership-panel">

  <div class="panel-heading">
    <h3 class="panel-title">
      Membership Rules
    </h3>
  </div>
  <div class="panel-body">
  	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nam soluta iste eligendi omnis nisi saepe molestias id. Ut quibusdam quis optio voluptas officiis nesciunt officia molestias eaque sunt maiores.
  	</p>
  	<p>
  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nam soluta iste eligendi omnis nisi saepe molestias id. Ut quibusdam quis optio voluptas officiis nesciunt officia molestias eaque sunt maiores.
  	</p>
  </div>

</div>


{% endblock maincontent %}