body { 
  background: url(/static/img/hero-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ph_main{
	background-color: transparent;
	/*background-image:url(/static/img/escheresque_ste.png) ;*/
	text-align: center;
	/*border: solid #fff 2px;*/
}
.ph_main p{
	margin-top: 10px;

}
.ph_logo{
	width: 91px;
}

.ph_block{
	text-align: center;
	background-color: white;
}
.ph_block_desc{
	margin-top: 10px;
	text-align:right;
	padding:13px;
}
.row{
	margin-top: 10px;
}

.ph_carousel{
	height: 350px;
}