<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title | safe}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description | safe}}">
    <meta name="author" content="@sanketsaurav and @avckp">

    <!-- All CSS -->
    <link href="/static/css/app.css" rel="stylesheet">
  </head>

  <body>
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=556488241090459";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- End Facebook SDK -->

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="brand"><span class="slash">./</span><span class="pizza">pizza</span><span class="hackers">hackers</span><span class="cursor"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/rules">Rules</a></li>
            <li><a href="/hacks">Hacks</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Login</a></li>
            <li><a href="/join" class="join">Join</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
    
    <div class="container">
    
      <div class="main-content">
        {%block maincontent%}
        {%endblock maincontent%}
      </div>
    
      <footer>
        <div class="row">
          <div class="col-lg-4">
            <p>&copy; PizzaHackers. All rights reserved.</p>
          </div>
          <div class="col-lg-4 text-center">
            <div class="fb-like" data-href="https://facebook.com/pizzahackers" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
            <a href="https://twitter.com/pizzahackers" class="twitter-follow-button" data-show-count="false" data-lang="en" >Follow @pizzahackers</a>
          </div>
          <div class="col-lg-4 credits">
            <p>Made with <span class="heart">&hearts;</span> at NIT JSR</p>
          </div>
        </div>
      </footer>
      
    </div><!-- /.container -->

    <!-- JavaScript -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Twitter SDK-->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
    <!-- End Twitter SDK -->
  </body>

</html>