{%extends 'base.html'%}

{%set title="Join &raquo; PizzaHackers | Doers of NIT Jamshedpur"%}
{%set description="The doer community of National Institute of Technology, Jamshedpur."%}

{%block maincontent%}

<div class="hero-spacer well main-hero join-hero">
  <h1>
    Join the <strong>community</strong>!
    <small>
    	Make a difference through code.
    </small> 
  </h1>
  <p class="hero-punch">
  	Learn. Create. Connect. Brag. :)
  </p>
  <p class="hero-desc">
  	PizzaHackers is a community of people who want to use their knowlege to solve problems, or just create something for fun. There are absolutely no restrictions on branch, year or interest. And it's completely free to join!
  </p>
</div>

<!-- TODO: Add form fields. -->
<div class="join-form">
	<form action="/join" method="post" class="form-horizontal">
		
	</form>
</div>

{%endblock maincontent%}